{% load static %}
<!Doctype html>    
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
    <div class="image">
        <h1><font color="lightblue" face="Arial">Добро пожаловать!</font></h1>
        <div class="start">
            <br>
            <br>
            <h2><font color="lightblue" face="Arial">Меня зовут Беляков Матвей. Это мой сайт,который я сделал для того,</font></h2>
            <h2><font color="lightblue" face="Arial">чтобы люди не испытывали больших сложностей при начальной подготовке</font></h2>
            <h2><font color="lightblue" face="Arial">к олимпиадам разных уровней. Для перехода на сайт нажмите на кнопку ниже.</font></h2>
            <br>
            <br>
        </div>
        <div align="center">
            <form action="/blog">
                <button type="submit"  class="btn btn-primary btn-lg " >Блог</button>
                <br>
                <br>
            </form>
        </div>
        <div class="start">
            <h2><font color="lightblue" face="Arial">Если хотите найти какой-нибудь определенный пост,воспользуйтесь поиском.</font></h2> 
            <br>
            <br>
        </div>
        <div align="center">
            <form action="/search">
                <button type="submit"  class="btn btn-success btn-lg " >Поиск</button>
            </form>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <h4>Belyash</h4>
    </div>
    <!-- Copyright -->
  
  </footer>
<!-- Footer -->
</body> 
</html> 